*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    background: #eee;
    margin: 1rem;
}
.posts{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem;
}
.post{
    background: #fff;
    box-shadow: 0 0 0.3rem black;
    border-radius: 10px;
}
.post:hover{
    transform: scale(1.03);
}
.post img{
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.post-content{
 padding: 1rem;
}
.post-content h2{
    color: purple;
}